<h1>Article Submission</h1>

<form action="/articles" method="post">
  <label for="title">Article Title</label>
  <input type="text" id="title" name="Title">

  <label for="url">Article URL</label>
  <input type="url" id="url" name="URL">

  <label for="description">Article Description</label>
  <input type="text" id="description" name="Description">

  <input type="submit" id="Submit" name="Submit">
</form>
